<phpunit colors="true"
         bootstrap="phpunit-bootstrap.php"
         verbose="true">
  <testsuites>
    <!-- testsuite name="Fiber Unit Tests">
      <directory>tests/unit/</directory>
    </testsuite -->
    <testsuite name="Fiber System Tests">
      <directory>tests/system/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>

</phpunit>
